@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@300;500&display=swap');

:root {
    --nav-height: 10vh;
    --color-primary: hsla(55, 31%, 50%, .2);
    --color-mid: hsla(55, 31%, 50%, .5);
    --color-secondary: hsla(55, 31%, 50%, .8);
    --color-final: rgb(83, 80, 43);
    --color-background: #333;
    --font-color-light: #ffffffcc;
    --font-color-heavy: hsla(360, 100%, 100%, .9);
    --transition-speed: 600ms;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 100%;
    overflow-x: hidden;
}

/* custmize scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}


.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    background-color: var(--color-background);
    z-index: 1000;
}

.loader > div {
    height: 10vw;
    aspect-ratio: 1/1;
    border: .75rem solid var(--color-final);
    border-top-color: var(--color-secondary);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    /* top: -2em; */
}

.searchbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    width: 100%;
    padding: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    margin-bottom: 1em;
}

.search-input {
    border: 0;
    width: 70%;
    height: 1.5rem;
    outline: none;
    background: var(--color-background);
    border: 2px solid var(--color-mid);
    border-radius: 3rem;
    color: var(--font-color-light);
    padding: 1.7em;
    font-size: 1.2rem;
    transition: 200ms ease;
}

.search-input:focus {
    border: 3px solid aqua; 
}

.search-icon {
    background: 0;
    border: 0;
    color: var(--font-color-light);
    cursor: pointer;
    position: relative;
    left: -2em;
}


.container {
    padding: 2rem;
    margin-top: 0;
    background: hsla(0, 0%, 23%, 1);
    box-shadow: -1rem 0 3rem var(--color-background);
    border-radius: 2rem;
}

.image {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
}

.card {
    background-color: var(--color-mid);
    box-shadow: -1rem 0 3rem var(--color-background);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    width: 80vw;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-content {
    background-color: var(--color-background);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.shuffle-div {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.shuffle {
    /* display: none; */
    position: fixed;
    bottom: 3em;
    margin: 0 auto;
    z-index: 100;
}

.shuffle.active {
    display: none;
}

/* footer */
footer {
    width: 100vw;
    height: auto;
    background: var(--color-primary);
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.footer-content h3 {
    font-size: 1.2rem;
}

.socials,
.links {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;  
}

.socials li,
.links li {
    margin: 0 10px;
}

.socials a,
.links a {
    text-decoration: none;
    color: var(--font-color-light);
    
}

.socials a i {
    font-size: 1.2rem;
    transition: color .4s ease;
}

.socials a:hover i,
.links a:hover {
    color: aqua;
}

.wechat {
    position: relative;
}

.qrcode {
    position: absolute;
	z-index: 99;
	top: -135px;
	right: -28px;
	width: 10rem;
	max-width: none;
	height: 10rem;
	transform: scale(0);
	transform-origin: bottom right;
	opacity: 0;
	border: .3125rem solid #0085ba;
	border-radius: .25rem;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.wechat:hover .qrcode {
	transform: scale(1);
	opacity: 1;
}

.footer-content p,
.footer-bottom {
    margin: 0 auto;
    font-size: 0.8rem;
    color: var(--font-color-light);
    padding: 0.5em;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom span {
    opacity: .4;
    font-weight: 500;
}

.scroll-back {
    /* display: none; */
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    color: var(--font-color-light);
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 999;
}

/* nav */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--color-secondary);
    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    z-index: 100;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 3em 6em;

}

.nav-item {
    margin-bottom: 3em;
}

.nav-link {
    text-decoration: none;
    color: var(--font-color-light);
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--color-final);
}

.nav-toggle {
    position: absolute;
    top: 2em;
    left: 0;
    transform: translateX(-100%);
    background: var(--color-background);
    padding: 1em .5em;
    border: 0;
    border-radius: .25em 0 0 .25em;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2em;
  height: 3px;
  background: var(--color-mid);
  
  transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
}

.hamburger::before { bottom: 6px; }
.hamburger::after { top: 6px;}


/* Navigation open styles */

.nav-open .nav {
    transform: translateX(0);
  }
  
  
.nav-open .hamburger {
transform: rotate(45deg);
}

.nav-open .hamburger::before {
opacity: 0;
}

.nav-open .hamburger::after {
transform: rotate(90deg) translate(-6px);
}

.brown,
:root:has(#brown:checked) {
    --nav-height: 10vh;
    --color-primary: hsla(55, 31%, 50%, .2);
    --color-mid: hsla(55, 31%, 50%, .5);
    --color-secondary: hsla(55, 31%, 50%, .8);
    --color-final: rgb(83, 80, 43);
    --color-background: #333;
    --font-color-light: #ffffffcc;
    --font-color-heavy: hsla(360, 100%, 100%, .9);
    --transition-speed: 600ms;
}

.blue,
:root:has(#blue:checked) {
    --nav-height: 10vh;
    --color-primary: hsla(203, 100%, 46%, 0.23);
    --color-mid: hsla(203, 100%, 46%, 0.41);
    --color-secondary: hsla(203, 100%, 53%, 0.41);
    --color-final: hsla(203, 100%, 22%, 0.41);
    --color-background: #333;
    --font-color-light: #ffffffcc;
    --font-color-heavy: hsla(360, 100%, 100%, .9);
    --transition-speed: 600ms;
}

.green,
:root:has(#green:checked) {
    --nav-height: 10vh;
    --color-primary: hsla(165, 100%, 30%, 0.2);
    --color-mid: hsla(165, 100%, 30%, 0.5);
    --color-secondary: hsla(165, 100%, 30%, 0.52);
    --color-final: hsla(165, 100%, 17%, 0.52)
    --color-background: #333;
    --font-color-light: #ffffffcc;
    --font-color-heavy: hsla(360, 100%, 100%, .9);
    --transition-speed: 600ms;
}

.btn-primary {
    border: none;
    background-color: var(--color-background);
}

.btn-primary:hover {
    background-color: var(--font-color-light);
    color: var(--color-background)
}