/* import font style from google font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@300;500&display=swap');

/* general styling */
:root {
    --nav-height: 10vh;
    --color-primary: hsla(55, 31%, 50%, .2);
    --color-mid: hsla(55, 31%, 50%, .5);
    --color-secondary: hsla(55, 31%, 50%, .8);
    --color-final: rgb(83, 80, 43);
    --color-background: #333;
    --font-color-light: #ffffffcc;
    --font-color-heavy: hsla(360, 100%, 100%, .9);
    --transition-speed: 600ms;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    padding:0;
    margin: 0;
    background: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

/* custmize scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

.container {
    display: flex;
    flex-direction: column;
}

/* typography */
.web-title {
    font-family: 'Dancing Script', cursive;
    color: var(--font-color-heavy);
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: .9em;
}

p {
    margin-top: 0;
    line-height: 1.5;
}

/* button */
.button {
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
    padding: .5em 1.75em;
}

.button-accent {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.button-accent:hover,
.button-accent:focus {
    background: var(--color-secondary);
    color: var(--font-color-light)
}

/* nav styling */
.nav-header {
    background: var(--color-primary);
    /* top: 0%; */
    text-align: center;
    position: sticky;
    z-index: 999;
    width: 100%;
    height: var(--nav-height);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.navbar {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li {
    margin-bottom: 1em;
    margin-left: 1em; 
}

.navbar a {
    color: var(--font-color-heavy);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.navbar a:hover {
    color: #000;
}

.nav-toggle:checked ~ .navbar {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ .navbar a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    .nav-header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
        grid-column: 2 / 3;
    }

    .navbar {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
    
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .navbar ul {
        display: flex;
    }
    
    .navbar li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    
    .navbar a {
        opacity: 1;
        position: relative;
    }
    
    .navbar a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    
    .navbar a:hover::before {
        transform: scale(1,1);
    }
  }

/* color-picker */
.color-picker {
    margin: auto;
}

.color-picker > fieldset {
    border: 0;
    display: flex;
    gap: 1rem;
    padding: 1rem 3rem;
}

.color-picker input[type="radio"] {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.color-picker input[type="radio"]#brown {
    --radio-color: hsla(55, 31%, 50%, .5);
}

.color-picker input[type="radio"]#blue {
    --radio-color: hsla(203, 100%, 46%, 0.41);
}

.color-picker input[type="radio"]#green {
    --radio-color: hsla(165, 100%, 30%, 0.5);
}

.brown,
:root:has(#brown:checked) {
    --nav-height: 10vh;
    --color-primary: hsla(55, 31%, 50%, .2);
    --color-mid: hsla(55, 31%, 50%, .5);
    --color-secondary: hsla(55, 31%, 50%, .8);
    --color-final: rgb(83, 80, 43);
    --color-background: #333;
    --font-color-light: #ffffffcc;
    --font-color-heavy: hsla(360, 100%, 100%, .9);
    --transition-speed: 600ms;
}

.blue,
:root:has(#blue:checked) {
    --nav-height: 10vh;
    --color-primary: hsla(203, 100%, 46%, 0.23);
    --color-mid: hsla(203, 100%, 46%, 0.41);
    --color-secondary: hsla(203, 100%, 53%, 0.41);
    --color-final: hsla(203, 100%, 22%, 0.41);
    --color-background: #333;
    --font-color-light: #ffffffcc;
    --font-color-heavy: hsla(360, 100%, 100%, .9);
    --transition-speed: 600ms;
}

.green,
:root:has(#green:checked) {
    --nav-height: 10vh;
    --color-primary: hsla(165, 100%, 30%, 0.2);
    --color-mid: hsla(165, 100%, 30%, 0.5);
    --color-secondary: hsla(165, 100%, 30%, 0.52);
    --color-final: hsla(165, 100%, 17%, 0.52)
    --color-background: #333;
    --font-color-light: #ffffffcc;
    --font-color-heavy: hsla(360, 100%, 100%, .9);
    --transition-speed: 600ms;
}

/* content styling */

section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* scroll-snap-align: start; */
}

/* landing page */
.hero-container {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.landing-page {
    background-image: url('./assets/Homepage.png');
    background-color: var(--color-background);
    color: var(--font-color-light);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 17vh;
}

/* about page */
.about-page {
    background-image: url('./assets/about-background.png');
    background-color: var(--color-background);
    background-size: cover;
    background-blend-mode: multiply;
    
}

.about-textbox {
    background-color: var(--color-background);
    padding: 4em;
    width: 100vw;
    outline: 2px solid var(--color-secondary);
    outline-offset: -2.5em;
    color: var(--font-color-light);
    text-align: center;
    position: relative;
}

.about-textbox h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-secondary);
    top: 0.5em;
    padding: 0 .3em;
    font-size: 1.2rem;
    font-weight: 900;
    background: var(--color-background);
}

.about-textbox strong {
    font-style: italic;
}

@media (min-width: 600px) {
    .about-textbox h1 {
        font-size: 1.6rem;
        top: 0em;
    }
}

@media (min-width: 1300px) {
    .about-textbox h1 {
        font-size: 2rem;
        top: -.3em;
        color: var(--color-mid);
    }

    .about-textbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 60vh;
        text-align: left;
        left: 5em;
        top: -17em;
        box-shadow: 0 0 4em 0 rgba(0, 0, 0, .5);
        padding: 10% 7%;
    }
}

/* portfolio page */
.portfolio-page {
    background-color: var(--color-background);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--font-color-light);
}

.portfolio-page h1 {
    font-size: 4rem;
    margin-bottom: -1em;
}

.card-list {
    display: flex;
    padding: 3rem;
    width: 100%;
    overflow: scroll;
    margin-bottom: -1em;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;

    border-radius: 16px;
    background: var(--color-secondary);
    box-shadow: -1rem 0 3rem var(--color-background);
    transition: .2s;
}

.card-header {
    padding-left: 1em;
}

.card-image {
    padding: 1em;
    height: 50%;
    width: auto;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover ~ .card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

/* contact page */
.contact-page {
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
footer {
    width: 100vw;
    height: auto;
    background: var(--color-primary);
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.footer-content h3 {
    font-size: 1.2rem;
}

.socials,
.links {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;  
}

.socials li,
.links li {
    margin: 0 10px;
}

.socials a,
.links a {
    text-decoration: none;
    color: var(--font-color-light);
    
}

.socials a i {
    font-size: 1.2rem;
    transition: color .4s ease;
}

.socials a:hover i,
.links a:hover {
    color: aqua;
}

.wechat {
    position: relative;
}

.qrcode {
    position: absolute;
	z-index: 99;
	top: -135px;
	right: -28px;
	width: 10rem;
	max-width: none;
	height: 10rem;
	transform: scale(0);
	transform-origin: bottom right;
	opacity: 0;
	border: .3125rem solid #0085ba;
	border-radius: .25rem;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.wechat:hover .qrcode {
	transform: scale(1);
	opacity: 1;
}

.footer-content p,
.footer-bottom {
    margin: 0 auto;
    font-size: 0.8rem;
    color: var(--font-color-light);
    padding: 0.5em;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom span {
    opacity: .4;
    font-weight: 500;
}

/* memories.html */

/* sidebar */
.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    background-color: #222;
    z-index: 2;
}

.loader > div {
    height: 10vw;
    aspect-ratio: 1/1;
    border: .75rem solid var(--color-final);
    border-top-color: var(--color-secondary);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


main {
    margin-left: 5rem;
    padding: 3rem;
}

.sidebar {
    position: fixed;
    background-color: var(--color-final);
    transition: 200ms ease;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.sidebar-item {
    width: 100%;
}

.sidebar-item:last-child {
    margin-top: auto;
}

.sidebar-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--font-color-heavy);
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.sidebar-link i {
    min-width: 2rem;
    margin: 0 1.5rem;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.sidebar-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--color-secondary);
    color: var(--color-background);
}

.sidebar:hover {
    width: 16rem;
}

.sidebar:hover .link-text {
    display: block;
}

.twicon-taipei101,
.twicon-85tower,
.twicon-eluanbi-lh,
.twicon-tunghai-uni,
.twicon-main-island {
    font-size: 3rem;
    transition: var(--transition-speed);
}

.sidebar-logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.3ch;
    width: 100%;
}

.sidebar-logo i {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.sidebar:hover .sidebar-logo i {
    transform: rotate(-360deg);
}

/* small screens */
@media only screen and (max-width: 600px) {
    .sidebar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .sidebar-logo {
        display: none;
    }

    .sidebar-links {
        flex-direction: row;
    }

    .sidebar-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* large screens */
@media only screen and (min-width: 600px) {
    .sidebar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .sidebar:hover {
        width: 16rem;
    }

    .sidebar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
}

/* memories page content */
.card-memories-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card-memories {
    color: var(--font-color-heavy);
    background-size: cover;
    background-position: center;
    padding: 11rem 0 0;
    border-radius: .5rem;
    overflow: hidden;
    transition: transform 300ms ease;
}

.card-memories1 {
    background-image: url(./assets/taipeicard.jpg);
}

.card-memories2 {
    background-image: url(./assets/kaohsiungcard.png);
}

.card-memories3 {
    background-image: url(./assets/kentingcard.jpg);
    margin-bottom: 3em;
}

.card-memories:hover,
.card-memories:focus-within {
    transform: scale(1.02);
}

.card-memories-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
}

@media (hover) {
    .card-memories-content {
        transform: translateY(65%);
        transition: transform 300ms ease;
        transition-delay: 300ms;
    }

    .card-memories:hover .card-memories-content,
    .card-memories:focus-within .card-memories-content {
        transform: translateY(0);
        transition-delay: 300ms;
    }

    .card-memories:focus-within .card-memories-content {
        transform: translateY(0);
        transition-delay: 300ms;
    }

    .card-memories-content > *:not(.card-memories-title) {
        opacity: 0;
        transition: opacity 300ms linear;
    }

    .card-memories:hover .card-memories-content > *:not(.card-memories-title) {
        opacity: 1;
        transition-delay: 300ms;
    }

    .card-memories-title::after {
        transform: scaleX(0);
    }
}

.card-memories-title {
    position: relative;
    width: max-content;
    padding: 1rem;
    top: -2em;
}

.card-memories-title::after {
    content: '';
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: var(--color-secondary);
    transition: transform 300ms ease;
    transform-origin: left;
}

.card-memories:hover .card-memories-title::after {
    transform: scaleX(1);
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--font-color-light);
    background-color: var(--color-mid);
    padding: 0.5em 1.25em;
    border-radius: .25rem;
}

.btn:hover,
.btn:focus {
    background-color: var(--font-color-heavy);
    color: var(--color-background);
}

/* taipei.html, kaosiung.html, kenting.html styling */
.wrapper {
    width: 100vw;
    /* height: 100vh; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: .5em;
}

.weather-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card span {
    color: var(--font-color-light);
    font-size: 1rem;
    padding-bottom: .5rem;
    white-space: pre;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(332deg) brightness(90%) contrast(100%);
    display: inline;
    margin: auto;
    height: 2rem;
    width: 2rem;
}

.media-scroller {
    width: 95%;
    height: 100%;
    --spacer: 1rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    padding: 0 var(--spacer) var(--spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-bottom: 2em;
}

.wrapper h1 {
    color: var(--font-color-light);
}

.media-scroller::-webkit-scrollbar {
    height: 0.25rem;
}

.media-scroller::-webkit-scrollbar-track {
    background-color: black;
}

.media-scroller::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

.media-scroller::-webkit-scrollbar-thumb:hover {
    background: var(--color-mid);
}

.media-scroller::-webkit-scrollbar:vertical {
    display: none;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: var(--color-mid);
    border-radius: .25rem;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, .5);
    justify-items: center;
    align-items: center;
}

.media-element > img {
    inline-size: 100%;
    max-width: 82%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding-top: 2rem;
}

/* for small screens */
@media only screen and (max-width: 800px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .media-scroller {
        display: flex;
        flex-direction: column;

    }

    .media-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .media-element > img {
        aspect-ratio: 2 / 3;
    }
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer);
}

.snaps-inline > * {
    scroll-snap-align: start;
}

/* if the user prefers reduced-motion */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}