@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@300;500&display=swap');

/* general styling */
:root {
    --nav-height: 10vh;
    --color-primary: hsla(55, 31%, 50%, .2);
    --color-secondary: hsla(55, 31%, 50%, .8);
    --font-color-light: hsla(360, 100%, 100%, .8);
    --font-color-heavy: hsla(360, 100%, 100%, .9);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    background: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
}


/* typography */
.web-title {
    font-family: 'Dancing Script', cursive;
    color: var(--font-color-heavy);
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: .9em;
}


/* button */
.button {
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
    padding: .5em 1.75em;
}

.button-accent {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.button-accent:hover,
.button-accent:focus {
    background: var(--color-secondary);
    color: var(--font-color-light)
}

/* nav styling */
header {
    background: var(--color-primary);
    /* top: 0%; */
    text-align: center;
    position: sticky;
    z-index: 999;
    width: 100%;
    height: var(--nav-height);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em; 
}

nav a {
    color: var(--font-color-heavy);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
        grid-column: 2 / 3;
    }
    
    .title {
        font-size: 3.2rem;
    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
    
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    nav ul {
        display: flex;
    }
    
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    
    nav a {
        opacity: 1;
        position: relative;
    }
    
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
        transform: scale(1,1);
    }
  }

/* content styling */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* scroll-snap-align: start; */
}

.hero-container {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.landing-page {
    background-image: url('./assets/Homepage.png');
    background-color: #333;
    color: var(--font-color-light);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 17vh;
}

.about-page {
    background-color: white;
}

.contact-page {
    background-color: white;
}