/* import font style from google font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@300;500&display=swap');

/* general styling */
:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --color-primary: hsla(55, 31%, 50%, .2);
    --color-mid: hsla(55, 31%, 50%, .5);
    --color-secondary: hsla(55, 31%, 50%, .8);
    --color-final: rgb(83, 80, 43);
    --color-background: #333;
    --font-color-light: hsla(360, 100%, 100%, .8);
    --font-color-heavy: hsla(360, 100%, 100%, .9);
    --transition-speed: 600ms;
}

body {
    color: var(--font-color-light);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

main {
    margin-left: 5rem;
    padding: 3rem;
}

/* sidebar */
.sidebar {
    position: fixed;
    background-color: var(--color-final);
    transition: 200ms ease;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    
}

.sidebar-item {
    width: 100%;
}

.sidebar-item:last-child {
    margin-top: auto;
}

.sidebar-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--font-color-heavy);
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.sidebar-link i {
    min-width: 2rem;
    margin: 0 1.5rem;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.sidebar-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--color-background);
    color: var(--color-mid);
}

.sidebar:hover {
    width: 16rem;
}

.sidebar:hover .link-text {
    display: block;
}

.twicon-taipei101,
.twicon-85tower,
.twicon-eluanbi-lh,
.twicon-tunghai-uni,
.twicon-main-island {
    font-size: 3rem;
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo i {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.sidebar:hover .logo i {
    transform: rotate(-360deg);
}

/* small screens */
@media only screen and (max-width: 600px) {
    .sidebar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .sidebar-links {
        flex-direction: row;
    }

    .sidebar-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* large screens */
@media only screen and (min-width: 600px) {
    .sidebar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .sidebar:hover {
        width: 16rem;
    }

    .sidebar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
}

/* content */
.card {
    color: var(--font-color-heavy);
    background-image: url(../assets/taipeicard.jpg);
    background-size: cover;
    background-position: center;
    padding: 10rem 0 0;
    border-radius: .5rem;
    overflow: hidden;
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: '';
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: var(--color-secondary);
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--font-color-light);
    background-color: var(--color-mid);
    padding: 0.5em 1.25em;
    border-radius: .25rem;
}

.button:hover,
.button:focus {
    background-color: var(--font-color-heavy);
    color: var(--color-background);
}